* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.button-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.popup-modal {
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0%;
  text-align: center;
}

.popup-modal p {
  margin-bottom: 24px;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
}

.backdrop.show {
  opacity: 30%;
}
.thegold {
}
/* what is class based component in react  
.
as the same with that  of the funcitional component it is also possible to have class based components in react 
but first we have import the component class from  a react 
then the same as the java script class we can define it using the sme syntanx but our class must have to ectend the component class 
but instead of destructuring the class we can extend it directly throught  React.Componnent

THE USE OF THE CONSTRUCTOR AND THE PROPS 

the props the passed in the the component is get passed to the class constructor 
a this and super keywords allow as to really use props in the contect of the component 
in java script when u use the extend keayword and extend the class the this keayword do not avaliable for the subclass this means using the this keayword in the 
subclass constructor throw a reference error so this means we have to call the suer keayword











*/
